/*** Admin Pages ***/
/* Users Search Page */
.new-admin-btn {
    display: block;
    margin-bottom: 1em;
}

.user-card {
    background-color: var(--white-overlay);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
    max-width: 50em;

    .user-header {
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    h3 {
        margin-block: 0 0.5em;
    }

    .user-content {
        display: flex;
        flex-direction: column;
        row-gap: 0.25em;
    }

    .user-meta {
        display: flex;
        column-gap: 2em;

        strong {
            color: var(--bg-color);
            background-color: var(--white-overlay);
            padding: 0.1em 0.5em;
            border-radius: 8px;
        }
    }

    .user-status {
        color: var(--bg-color);
        background-color: var(--text-color);
        padding: 0.1em 0.5em;
        border-radius: 8px;

        &.active {
            color: var(--text-color);
            background-color: var(--success-color);
        }

        &.suspended {
            color: var(--text-color);
            background-color: var(--warning-color);
        }
    }
}

/* Admin Register page */
.admin-radio-inputs {
    display: flex;
    gap: 0.25em;
    margin-top: 0.25em;

    input[type="radio"] {
        display: none;
    }

    label {
        border-radius: 4px;
        cursor: pointer;
        transition: color 200ms ease, background-color 200ms ease;
        padding: 0.25em 0.5em;
    }

    input[type="radio"]:checked+label {
        background-color: var(--light-secondary);
        color: var(--text-color);
        transform: translateY(-2px);
    }
}

/* User Admin */
.admin-user-actions {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 1em;
    margin-block-end: 2em;
}

.admin-user-form {
    --_form-width: 0;
    --_form-height: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--white-overlay-heavy);
    padding: 0.5em;
    border-radius: 4px;

    .form-head,
    .status-body {
        display: flex;
        justify-content: space-between;
        align-items: end;
        gap: 0.5em;
    }

    .status-body {
        align-items: center;
    }

    .status-body,
    .password-body {
        margin-block-start: 0.25em;
    }

    .password-body {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        overflow: hidden;
        height: var(--_form-height);
        transition: height 500ms;
    }

    .edit-btn {
        width: 1.5em;
    }

    input {
        padding: 0.125em 0.25em;
    }

    select {
        padding: 0 0.125em;
        outline: 2px solid var(--text-color);
        outline-offset: -1px;

        &.active {
            outline-color: var(--success-color);
        }

        &.suspended {
            outline-color: var(--warning-color);
        }
    }

    .btn {
        border-radius: 4px;
        padding: 0.125em 0.25em;
        /* text-wrap: nowrap; */
        white-space: nowrap;
    }

    .submit-btn-cont {
        overflow: hidden;
        text-align: end;
        width: var(--_form-width);
        transition: width 500ms;
    }
}

#status-form.open .submit-btn-cont {
    --_form-width: 11ch;
}

#password-form.open .password-body {
    --_form-height: 7.25em;
}

.admin-user-data {
    width: max-content;
    max-width: 90vw;

    .data-cont {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 1em;
        color: var(--bg-color);
        background-color: var(--text-color);
        padding: 0.25em 1em;
        margin-bottom: 0.5em;
        border-radius: 4px;

        .btn {
            border-radius: 4px;
            padding: 0.125em 0.25em;
        }

        :nth-child(2) {
            margin-inline-start: auto;
        }
    }

    dd {
        font-size: 1.1em;
        font-weight: bold;
        overflow-wrap: anywhere;
    }
}

/* Reports */
.report-filter-form {
    #status {
        padding: 0 0.125em;
    }
}

.report-card-cont {
    min-width: 20em;
    width: max-content;
}

.report-card {
    opacity: 0;
    transform: translateY(100%);

    color: var(--bg-color);
    background-color: var(--text-color);
    padding: 0.5em;
    border-radius: 4px;
    margin-bottom: 1em;
    animation: move-in 500ms ease forwards;

    .report-header {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-bottom: 0.5em;
    }

    .btn {
        border-radius: 4px;
        padding: 0.125em 0.25em;
    }

    .report-content {
        display: flex;
        flex-direction: column;
        gap: 0.125em;

        .report-status {
            color: var(--text-color);
            padding: 0.125em 0.25em;
            width: max-content;
            border-radius: 4px;

            &.pending {
                background-color: var(--error-color);
            }

            &.reviewed {
                background-color: var(--warning-color);
            }

            &.action_taken {
                background-color: var(--info-color);
            }

            &.dismissed {
                background-color: var(--success-color);
            }
        }
    }
}

.admin-report-dialog {
    font-size: 0.9rem;
    width: 30em;

    dl {
        width: 100%;
    }

    .data-cont {
        display: flex;
        flex-wrap: wrap;
        align-items: end;
        column-gap: 1em;
        margin-bottom: 0.5em;

        dt {
            min-width: 10ch;
        }

        dd {
            font-size: 1.1em;
            font-weight: bold;
        }

        a {
            text-decoration: underline;

            &:hover {
                color: var(--text-color-secondary);
            }
        }
    }

    .report-form {
        input, select {
            padding: 0 0.125em;
        }

        textarea {
            padding: 0.125em 0.25em;
        }
    }

    .dialog-actions {
        margin-top: 1em;

        .btn:not(:disabled) {
            border: 2px solid var(--light-secondary);
        }
    }
}

.fillable {
    --_fillable-width: 15ch;

    position: relative;
    transition: background-color 1000ms, color 3000ms;
}

.fillable.type,
.fillable.status {
    --_fillable-width: 8ch;
}

.fillable:empty {
    position: relative;
    width: var(--_fillable-width);
    height: 1.25em;
    color: var(--white-overlay);
    background-color: var(--white-overlay);
    border-radius: 4px;

    &::before {
        content: '_';
        position: absolute;
        bottom: 0;
        left: 2px;
        color: var(--text-color-secondary);
        font-weight: bold;
        opacity: 0.8;
        animation: fillableSlide 6000ms ease-in-out infinite;
    }
}

@keyframes fillableSlide {
    50% {
        translate: calc(var(--_fillable-width) - 1ch);
    }

    100% {
        translate: 0;
    }
}

/* Tags Page */
.add-tag-btn {
    margin-bottom: 0.5em;
}

.tag-form-container,
.tag-edit-container {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;

    div {
        overflow: hidden;
    }

    .edit-btn-cont {
        display: flex;
        align-items: end;
        justify-content: space-between;
        margin-top: 1em;
        padding: 0 2px 2px;

        .delete-btn {
            padding: 0.25em;
            border-radius: 4px;
            transition: background-color 300ms ease;
        }

        .delete-btn:hover,
        .delete-btn:focus-visible {
            background-color: var(--warning-color);
        }
    }
}