@font-face {
    font-family: 'Sora';
    src: url('/public/fonts/Sora/Sora-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold-Italic';
    src: url(/public/fonts/Roboto-BoldItalic.ttf) format('truetype');
}

html {
    --text-color: #ebebeb;
    --text-color-secondary: #acacac;
    --bg-color: #1a1a38;
    --secondary-color: #3a3a7e;
    --light-secondary: #3404A5;
    --white-overlay: rgba(255, 255, 255, 0.2);
    --white-overlay-heavy: rgba(255, 255, 255, 0.5);
    --bg-color-overlay: hsla(240, 37%, 16%, 0.7);

    --success-color: #2e7d32;
    --error-color: #d32f2f;
    --info-color: #1976d2;
    --warning-color: #be3652;

    --max-width: 1600px;
    --outer-padding: 1em;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Sora', sans-serif;
    margin: 0 auto;
    min-height: 101dvh;
}

main {
    width: 100%;
    max-width: var(--max-width);
    margin-inline: auto;
    animation: show-in 400ms ease-out;

    .padding-box {
        margin-inline: var(--outer-padding);
    }
}

.logo {
    position: fixed;
    inset: 0;
    z-index: -1;
    background-image: url('/public/images/bladeboard_logo.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    opacity: 0.1;
    filter: drop-shadow(2px 4px 6px black);
    animation: show-in 5000ms linear;
}


/* Resets */
*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

dl, dd, dt {
    margin: 0;
}

input, textarea, select {
    color: var(--bg-color);
    font: inherit;
    resize: none;
    padding: 0.5em 1em;
    border: none;
    border-radius: 8px;
    background-color: var(--text-color);
}

input:disabled, textarea:disabled, select:disabled,
input[readonly], textarea[readonly], select[readonly] {
    cursor: auto;
    background-color: var(--text-color-secondary);
    color: var(--bg-color);
}

a {
    color: inherit;
    font: inherit;
    padding: 0;
    text-decoration: none;
    outline-color: transparent;
    width: fit-content;
}

button {
    color: inherit;
    font: inherit;
    background-color: transparent;
    outline-color: transparent;
    padding: 0;
    width: fit-content;
    border: none;
    cursor: pointer;
}

button:disabled {
    background-color: var(--text-color-secondary);
    color: var(--bg-color);
    cursor: not-allowed;
}


/* General Elements */
.page-title {
    position: sticky;
    top: 3.5em;
    z-index: 50;
    background-color: var(--bg-color-overlay);
    box-shadow: 0 0 10px 1px var(--bg-color-overlay);
}

.link {
    color: var(--text-color);
    text-decoration: underline;
    transition: color 300ms ease;

    &:hover,
    &:focus-visible {
        color: var(--text-color-secondary);
    }
}

.btn {
    color: var(--text-color);
    box-sizing: border-box;
    background-color: var(--secondary-color);
    padding: 0.5em 1em;
    border-radius: 100px;
    transition: color 300ms ease, background-color 300ms ease;

    &:hover:not(:disabled),
    &:focus-visible:not(:disabled) {
        color: white;
        background-color: var(--light-secondary);
    }
}

i {
    font-family: 'Roboto-Bold-Italic', system-ui, sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    letter-spacing: 1px;
}

.icon {
    width: 1.5em;
}

/* Header & Navigation */
header {
    position: sticky;
    top: 0;
    text-align: center;
    min-height: 4.15em;
    background-color: var(--bg-color);
    margin-bottom: var(--outer-padding);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    z-index: 100;

    .header-inner {
        position: relative;
        max-width: var(--max-width);
        height: 100%;
        margin-inline: auto;
    }

    nav {
        position: absolute;
        inset: 0 auto 0 0;
        padding-left: var(--outer-padding);

        &>div {
            position: relative;
            top: 0.8em;
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        img {
            border-radius: 100px;
            width: 2.5rem;
            transition: rotate 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        img:hover {
            rotate: 360deg;
        }

    }
}

.small-scrn-nav {
    display: none;
    --_row-height: 0px;
    --_num-rows: 4;
    grid-template-rows: repeat(var(--_num-rows), var(--_row-height));
    align-items: start;
    width: max-content;
    transition: grid-template-rows 500ms, background-color 1000ms, padding 500ms;
    border-radius: 4px;
    z-index: 100;

    .small-scrn-nav-head {
        position: relative;

        i {
            position: relative;
            top: 0.3em;
            display: block;
            font-size: 1.4em;
            width: 0;
            height: 0;
            overflow: hidden;
            transition: margin 600ms;
        }
    }

    .link {
        --_text-delay: 600ms;
        color: var(--bg-color);
        font-size: 1.2em;
        font-weight: bold;
        width: 0;
        margin-inline-start: 1.5em;
        overflow: hidden;
        align-self: end;
        opacity: 0;
        translate: -3em;
    }

    .link:nth-of-type(2) {
        --_text-delay: 800ms;
    }

    .link:nth-of-type(3) {
        --_text-delay: 1000ms;
    }
}

.small-scrn-nav:has(.clicked) {
    --_row-height: 2.5em;
    background-color: var(--white-overlay-heavy);
    backdrop-filter: blur(5px);
    padding: 0.2em 3em 1.5em 0.5em;

    .small-scrn-nav-head i {
        width: max-content;
        overflow: visible;
        margin-left: 3em;
    }

    .link {
        animation: showText 600ms ease var(--_text-delay) forwards;
    }
}

@keyframes showText {
    100% {
        opacity: 1;
        width: max-content;
        translate: 0;
    }
}

h1 {
    font-family: "Roboto-Bold-Italic", system-ui, sans-serif;
    font-size: 3.4em;
    font-style: oblique;
    padding-inline: 1em;
    margin: 0;
}

.add-link {
    position: absolute;
    top: 50%;
    right: 0;
    translate: 0 -50%;
    padding-right: var(--outer-padding);
}

/* Pagination */
.pagination-links>nav {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 2em;

    >div {

        /* Next and Previous links */
        &:first-child {
            display: flex;
            justify-content: space-around;

            /* Inactive link */
            span {
                visibility: hidden;
            }
        }

        &:last-child {
            display: block;

            >div {

                /* Results Numbers */
                &:first-child {
                    text-align: center;

                    p {
                        margin: 0;
                    }
                }

                /* Page Numbers Links */
                &:last-child {
                    display: flex;
                    justify-content: center;

                    >span {
                        display: flex;
                        align-items: center;
                        gap: 1em;

                        >a {
                            text-decoration: underline;
                        }

                        /* Current Page */
                        >span[aria-current="page"] {
                            font-size: 1.15em;
                            font-weight: bold;
                            cursor: default;
                        }

                        /* Redundant page arrow links */
                        a:has(svg),
                        span:has(svg) {
                            display: none;
                        }

                        /* Inactive end page link */
                        span[aria-disabled="true"] {
                            visibility: hidden;
                        }

                        /* End page link */
                        svg {
                            height: 1.75em;
                        }
                    }
                }
            }
        }
    }
}

/* Home Page */
.home-title {
    width: 12ch;
    margin-inline: auto;
    text-align: left;

    span {
        display: inline-block;
        translate: 200px;
        opacity: 0;
        animation: header 2s 500ms linear forwards;
    }
}

/* Bounce effect */
@keyframes header {
    5% {
        opacity: 1;
    }

    20% {
        translate: 0;
        letter-spacing: normal;
    }

    30% {
        letter-spacing: -0.4em;
    }

    50% {
        letter-spacing: normal;
    }

    70% {
        letter-spacing: -0.2em;
    }

    100% {
        translate: 0;
        opacity: 1;
        letter-spacing: normal;
    }
}

.home-actions {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 2em;

    .btn {
        min-width: 12em;
        text-align: center;
    }

    .guest-btn {
        background-color: var(--white-overlay);
    }
}


/* Profile Page */
.profile {
    --_profile-columns: 2;
    display: grid;
    grid-template-columns: repeat(var(--_profile-columns), minmax(20em, 1fr));
    gap: 1em;
    margin: 1em 0;
    width: fit-content;

    .profile-cont {
        padding: 1em;
        background-color: var(--white-overlay);
        border-radius: 8px;
    }

    dt {
        display: flex;
        align-items: start;

        span {
            margin-inline-end: 5%;
            margin-inline-start: auto;
            opacity: 0.5;
            transition: margin-inline-end 300ms, opacity 300ms;
        }
    }

    dd {
        font-size: 1.3em;
        margin-inline-start: 0.1em;
        overflow-x: auto;
        transition: margin-inline-start 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .count-cont {
        grid-column-start: 2;
    }

    .joined-cont {
        grid-row-start: 2;
    }
}

.profile-cont:hover span {
    margin-inline-end: 0;
    opacity: 1;
}

.profile-cont:hover dd {
    margin-inline-start: 0.5em;
}

/* Profile Edit Page */
.user-date {
    font-size: 0.8em;
    padding-inline-start: 0.5em;
    margin-bottom: 0.1em;
}

.edit-actions {
    display: flex;
    align-items: end;
    justify-content: space-between;

    .delete-btn {
        padding: 0.25em;
        border-radius: 4px;
        transition: background-color 300ms ease;
    }

    .delete-btn:hover,
    .delete-btn:focus-visible {
        background-color: var(--warning-color);
    }
}


/* Forms */
.auth-form, .post-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-block-end: 2em;
    padding: 1em;
    width: clamp(14em, 30em, 100%);
    border-radius: 10px;
    background-color: var(--white-overlay);
    backdrop-filter: blur(5px);

    .btn {
        margin-top: 0.5em;
    }

    label {
        --_label-gap: 0.25em;
        --_label-icon-offset: 1.25em;
        position: relative;
        overflow: hidden;

        .icon {
            position: absolute;
            display: inline;
            width: 1em;
            translate: 0 var(--_label-icon-offset);
            transition: translate 800ms ease;
        }

        span {
            margin-inline-start: var(--_label-gap);
            transition: margin 1000ms ease;
        }
    }

    input:focus-within+label, textarea:focus-within+label {
        --_label-gap: 2em;
        --_label-icon-offset: 0;
    }
}

.input-cont {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.1em;
}

.tags-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

.tag-input {
    color: var(--bg-color);
    padding: 0.25em 0.5em;
    border-radius: 10px;
    background-color: var(--text-color-secondary);
    cursor: pointer;
    transition:
        background-color 200ms ease,
        color 200ms ease;
}

input[type="checkbox"],
input[type="radio"] {
    display: none;
}

input[type="checkbox"]:checked+.tag-input,
input[type="radio"]:checked+.tag-input {
    background-color: var(--light-secondary);
    color: var(--text-color);
    rotate: -5deg;
}

.edit-input {
    display: grid;
    gap: 0.5em;
    grid-template-columns: 1fr auto;
}

.edit-btn {
    padding: 0.25em;
    border-radius: 8px;
    transition: background-color 200ms ease;

    &:hover,
    &:focus-visible {
        background-color: var(--light-secondary);
    }
}

.input-error {
    background-color: var(--warning-color);
    padding: 0.1em 0.5em;
    margin-top: 2px;
    border-radius: 6px;
}

.sort-header {
    display: flex;
    max-width: 40rem;

    .sort-controls {
        font-size: 0.8rem;
        font-weight: normal;
        margin-left: auto;
        margin-block: 0.2em;
    }

    select {
        padding: 0.25em 0.5em;
    }
}


/* Post Cards */
.post-card {
    --_card-delay: 0ms;
    padding: 1em;
    opacity: 0;
    transform: translateY(100%);
    animation: move-in 300ms ease-out var(--_card-delay) forwards;

    &:nth-child(2) {
        --_card-delay: 300ms;
    }

    &:nth-child(3) {
        --_card-delay: 600ms;
    }

    &:nth-child(4) {
        --_card-delay: 900ms;
    }

    &:nth-child(5) {
        --_card-delay: 1200ms;
    }
}

.post, .post-card {
    position: relative;
    background-color: var(--white-overlay);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    margin-bottom: 1em;
    max-width: 50em;

    .post-head {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        padding: 1em 1em 0.25em 1em;
    }

    .post-title-row,
    .post-actions-row {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    .post-title-row {
        align-items: end;
    }

    .post-name, .post-date {
        font-size: 0.8em;
        color: var(--text-color-secondary);
    }

    .post-meta {
        display: flex;
        flex-direction: column;
    }

    .post-actions {
        display: flex;
        align-items: center;
        gap: 0.5em;
        flex-shrink: 0;

        .action {
            padding: 0.25em;
            border-radius: 4px;
            outline-color: transparent;
            transition: background-color 300ms ease, outline-color 300ms ease;
        }

        .action.like-btn.liked {
            background-color: var(--success-color);
            outline: 1px solid var(--text-color);
        }

        .action:hover,
        .action:focus-visible {
            background-color: var(--bg-color);
        }

        .action.delete:hover,
        .action.delete:focus-visible {
            background-color: var(--warning-color);
        }

        .action.like-btn:not(.liked):hover,
        .action.like-btn:not(.liked):focus-visible {
            background-color: var(--success-color);
            outline: 1px solid var(--text-color);
        }
    }

    .likes-cont {
        display: flex;
        align-items: center;
        gap: 0.25em;

        .likes-count {
            text-align: center;
            display: inline-block;
            min-width: 1ch;
        }
    }

    #like-conf,
    #view-conf {
        position: absolute;
        inset: 0.25em;
        display: none;
        animation: move-out-high 2000ms linear forwards;
    }

    #view-conf {
        inset: 0;
    }

    .post-main {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        margin-top: 1em;
    }

    .post-title {
        font-size: 1.5em;
        font-weight: bold;
    }

    .post-content {
        color: var(--bg-color);
        padding: 0.5em 1em 1em 1em;
        border-radius: 4px 4px 10px 10px;
        background-color: var(--white-overlay-heavy);
    }

    .post-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        span {
            color: var(--bg-color);
            font-size: 0.9em;
            padding: 0.2em 0.5em;
            border-radius: 10px;
            background-color: var(--text-color);
        }
    }

    .post-views {
        display: flex;
        gap: 0.25em;
        justify-content: end;
        align-items: center;
        flex-shrink: 0;
    }

    .post-stats {
        display: flex;
        gap: 3rem;

        .stats-inner {
            display: flex;
            align-items: center;
            gap: 0.5em;
        }
    }
}


/* Post Page */
.post-navigation {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1em;
    width: clamp(20em, 100%, 50vw);
}

.post-page-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: start;
    max-width: 92vw;

    .post {
        flex-grow: 1;
    }

    .comment-form-container {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 500ms;

        div {
            overflow: hidden;
        }
    }

    .comments-section {
        position: sticky;
        top: 5em;
        width: 25em;

        h3 {
            margin: 0 0 0 0.25em;
        }

        .comments-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px;
            border-top: 2px solid var(--white-overlay);
            border-left: 2px solid var(--white-overlay);
            border-right: 2px solid var(--white-overlay);
            padding: 0.25em;
            margin-bottom: 0.5em;
        }

        .comment-action {
            padding: 0.25em;
            border-radius: 4px;
            transition: background-color 300ms ease;
        }

        .comment-action:hover,
        .comment-action:focus-visible {
            background-color: var(--secondary-color);
        }

        .comments-cont {
            max-height: 70dvh;
            overflow: auto;
            scrollbar-gutter: stable;
            scrollbar-width: thin;
            padding-block-start: 0.5em;
            margin-bottom: 2em;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.05);
            backdrop-filter: blur(5px);
        }
    }
}


/* Dialog element */
.delete-confirm-dialog {
    color: inherit;
    background-color: var(--bg-color-overlay);
    backdrop-filter: blur(10px);
    border: 2px solid var(--bg-color);
    border-radius: 10px;
    animation: show-in 500ms ease;

    .dialog-actions {
        display: flex;
        gap: 1em;
        justify-content: end;
        margin-top: 3em;

        .btn:not(:disabled) {
            background-color: var(--bg-color);
            border: 2px solid var(--warning-color);
        }

        .btn:hover:not(:disabled),
        .btn:focus-visible {
            background-color: var(--warning-color);
        }

        .delete-btn:not(:disabled) {
            background-color: var(--warning-color);
        }

        .delete-btn:hover:not(:disabled),
        .delete-btn:focus-visible {
            background-color: var(--error-color);
        }
    }
}

.delete-confirm-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
}


/* Comment Cards */
.comment-card {
    opacity: 0;
    transform: translateY(100%);
    --_delay: 1100ms;

    position: relative;
    box-sizing: border-box;
    background-color: var(--secondary-color);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
    margin-right: 2px;
    max-width: 25em;
    animation: move-in 300ms ease-in var(--_delay) forwards;

    &:nth-child(1) {
        --_delay: 300ms;
    }

    &:nth-child(2) {
        --_delay: 500ms;
    }

    &:nth-child(3) {
        --_delay: 700ms;
    }

    &:nth-child(4) {
        --_delay: 900ms;
    }

    .comment-meta {
        display: flex;
        gap: 1em;
        justify-content: space-between;
        font-size: 0.8em;
        margin-right: 1em;
    }

    .comment-delete {
        position: absolute;
        top: 0.25em;
        right: 0.25em;
        border-radius: 10px;
        transition: background-color 300ms ease;

        &:hover,
        &:focus-visible {
            background-color: var(--text-color);
        }

        img {
            width: 1.25em;
        }
    }

    .comment-content {
        color: var(--bg-color);
        padding: 0.25em 0.5em;
        margin-top: 0.5em;
        border-radius: 4px;
        background-color: var(--white-overlay-heavy);
    }
}


/* Post Edit */
.edit-meta {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    margin-left: 1.5em;
}

/*** Admin Pages ***/
/* Users Page */
.new-admin-btn {
    display: block;
    margin-bottom: 1em;
}

.user-card {
    background-color: var(--white-overlay);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
    max-width: 50em;

    .user-header {
        display: flex;
        align-items: start;
        justify-content: space-between;
    }

    h3 {
        margin-block: 0 0.5em;
    }

    .user-content {
        display: flex;
        flex-direction: column;
        row-gap: 0.25em;
    }

    .user-meta {
        display: flex;
        column-gap: 2em;

        strong {
            color: var(--bg-color);
            background-color: var(--white-overlay);
            padding: 0.1em 0.5em;
            border-radius: 8px;
        }
    }
}

/* Admin Register page */
.admin-radio-inputs {
    display: flex;
    gap: 0.25em;
    margin-top: 0.25em;

    input[type="radio"] {
        display: none;
    }

    label {
        border-radius: 4px;
        cursor: pointer;
        transition: color 200ms ease, background-color 200ms ease;
        padding: 0.25em 0.5em;
    }

    input[type="radio"]:checked+label {
        background-color: var(--light-secondary);
        color: var(--text-color);
        transform: translateY(-2px);
    }
}

/* Tags Page */
.add-tag-btn {
    margin-bottom: 0.5em;
}

.tag-form-container,
.tag-edit-container {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;

    div {
        overflow: hidden;
    }

    .edit-btn-cont {
        display: flex;
        align-items: end;
        justify-content: space-between;
        margin-top: 1em;
        padding: 0 2px 2px;

        .delete-btn {
            padding: 0.25em;
            border-radius: 4px;
            transition: background-color 300ms ease;
        }

        .delete-btn:hover,
        .delete-btn:focus-visible {
            background-color: var(--warning-color);
        }
    }
}


/* Alert */
.alert {
    --_border-color: transparent;
    position: fixed;
    top: 2em;
    left: 50%;
    translate: -50%;
    width: 20ch;
    padding: 1em;
    color: white;
    font-size: 1.1em;
    text-align: center;
    background-color: var(--white-overlay);
    backdrop-filter: blur(5px);
    z-index: 1000;
    border-radius: 10px;
    border: 2px solid var(--_border-color);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.8);
    animation:
        show-in 600ms ease-out,
        move-out 600ms 6s ease-out forwards;
}

.info {
    --_border-color: var(--info-color);
}

.success {
    --_border-color: var(--success-color);
}

.error {
    --_border-color: var(--error-color);
}

.warning {
    --_border-color: var(--warning-color);
}


/* Drawer */
.drawer {
    display: flex;
    position: fixed;
    top: 15dvh;
    right: 0.5rem;
    color: #111;
    min-height: 75dvh;
    width: 25em;
    max-width: 88vw;
    padding: 1em;
    background: linear-gradient(var(--white-overlay-heavy), var(--white-overlay));
    backdrop-filter: blur(5px);
    border-radius: 10px;
    z-index: 1000;
    transition: translate 500ms ease-in-out;

    &.closed {
        translate: 100%;

        .drawer-tab>img {
            rotate: 180deg;
        }
    }

    .drawer-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 0.5em;
    }

    .drawer-tab {
        position: absolute;
        top: 2em;
        left: -2em;
        width: 2em;
        background-color: var(--white-overlay-heavy);
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;

        >img {
            width: 2em;
            transition: rotate 300ms ease-in 500ms;
        }
    }

    h3 {
        margin-block: 0 0.25em;
    }

    .filters {
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        .filter-inputs>* {
            margin-bottom: 2px;
        }
    }

    .radio-inputs {
        display: flex;
        gap: 0.25em;

        input[type="radio"] {
            display: none;
        }

        label {
            border-radius: 4px;
            cursor: pointer;
            transition: color 200ms ease, background-color 200ms ease;
            padding: 0.25em 0.5em;
        }

        input[type="radio"]:checked+label {
            background-color: var(--light-secondary);
            color: var(--text-color);
            transform: translateY(-2px);
        }
    }

    .date-inputs .date-label {
        display: inline-block;
        color: var(--bg-color);
        text-align: center;
        background-color: var(--text-color-secondary);
        border-radius: 8px;
        min-width: 6ch;
        padding: 0.25em 0.5em;
    }

    .has-input .date-label {
        background-color: var(--light-secondary);
        color: var(--text-color);
    }

    .filter-btns {
        position: absolute;
        top: 1em;
        right: 1em;
        display: flex;
        gap: 0.5em;

        button[type='reset'] {
            color: var(--bg-color);
            background-color: var(--white-overlay-heavy);

            &:hover,
            &:focus-visible {
                background-color: var(--warning-color);
            }
        }
    }
}


/* Over-writes */
.warning-btn {
    background-color: var(--warning-color);
}

.highlighted {
    border: 2px solid var(--warning-color);
}

.hidden {
    display: none;
}

.container.open {
    grid-template-rows: 1fr;
}


/* Media Queries */
@media (max-width: 768px) {
    .small-scrn-nav {
        display: grid;
    }

    .large-scrn-nav {
        display: none;
    }
}

@media (max-width: 620px) {
    header h1 {
        display: none;
    }

    .sort-controls {
        flex-basis: 0;
    }

    .pagination-links>nav>div:first-child {
        justify-content: space-between;
    }

    .profile {
        --_profile-columns: 1;

        .count-cont {
            grid-column-start: unset;
        }

        .joined-cont {
            grid-row-start: unset;
        }
    }

}


/* Animations */
@keyframes rotate {
    100% {
        rotate: 360deg;
    }
}

@keyframes show-in {
    0% {
        opacity: 0;
    }
}

@keyframes move-in {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes move-out {
    100% {
        opacity: 0;
        transform: translateY(-150%);
    }
}

@keyframes move-out-high {
    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-200%);
    }
}