@font-face {
    font-family: 'Sora';
    src: url('/public/fonts/Sora/Sora-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    --text-color: #ebebeb;
    --text-color-secondary: #acacac;
    --bg-color: #073f41;
    --secondary-color: #400a08;
    --light-secondary: hsl(2, 78%, 24%);
    --success-color: #2e7d32;
    --error-color: #d32f2f;
    --info-color: #1976d2;
    --warning-color: #be3652;
    --white-overlay: rgba(255, 255, 255, 0.2);
    --bg-color-overlay: rgba(7, 63, 65, 0.7);

    --outer-padding: 1em;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Sora', serif;
    margin: 0 auto;
    max-width: 1600px;
    min-height: 101dvh;
}

main {
    margin-inline: var(--outer-padding);
    animation: show-in 400ms ease-out;
}

.logo {
    position: fixed;
    inset: 0;
    z-index: -1;
    background-image: url('/public/images/bladeboard_logo.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    opacity: 0.1;
    filter: drop-shadow(2px 4px 6px black);
    animation: show-in 5000ms ease-out;
}


/* Resets */
*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

dl, dd, dt {
    margin: 0;
}

input, textarea, select {
    color: var(--bg-color);
    font: inherit;
    resize: none;
    padding: 0.5em 1em;
    border: none;
    border-radius: 8px;
    background-color: var(--text-color);
}

input:disabled, textarea:disabled, select:disabled,
input[readonly], textarea[readonly], select[readonly] {
    cursor: auto;
    background-color: var(--text-color-secondary);
    color: var(--bg-color);
}

a {
    color: inherit;
    font: inherit;
    padding: 0;
    text-decoration: none;
    width: fit-content;
}

button {
    color: inherit;
    font: inherit;
    background-color: transparent;
    padding: 0;
    width: fit-content;
    border: none;
    cursor: pointer;
}

button:disabled {
    background-color: var(--text-color-secondary);
    color: var(--bg-color);
    cursor: not-allowed;
}


/* General Elements */
.page-title {
    position: sticky;
    top: 3.5em;
    z-index: 50;
    background-color: var(--bg-color-overlay);
    box-shadow: 0 0 10px 1px var(--bg-color-overlay);
}

.link {
    color: var(--text-color);
    text-decoration: underline;
    transition: color 300ms ease;

    &:hover {
        color: var(--text-color-secondary);
    }
}

.btn {
    color: var(--text-color);
    box-sizing: border-box;
    background-color: var(--secondary-color);
    padding: 0.5em 1em;
    border-radius: 100px;
    transition: color 300ms ease, background-color 300ms ease;

    &:hover:not(:disabled) {
        color: white;
        background-color: var(--light-secondary);
    }
}


/* Header & Navigation */
header {
    position: sticky;
    top: 0;
    text-align: center;
    min-height: 4.15em;
    background-color: var(--bg-color);
    margin-bottom: var(--outer-padding);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    z-index: 100;
}

nav {
    position: absolute;
    top: 50%;
    left: 0;
    translate: 0 -50%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: var(--outer-padding);

    img {
        border-radius: 100px;
        width: 2.5rem;
        transition: rotate 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    img:hover {
        rotate: 360deg;
    }
}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.1em;
    font-style: oblique;
    padding-inline: 1em;
    margin: 0;
}

.add-link {
    position: absolute;
    top: 50%;
    right: 0;
    translate: 0 -50%;
    padding-right: var(--outer-padding);
}


/* Home Page */
.home-title {
    width: 12ch;
    margin-inline: auto;
    text-align: left;

    span {
        display: inline-block;
        translate: 200px;
        opacity: 0;
        animation: header 2s 500ms linear forwards;
    }
}

/* Bounce effect */
@keyframes header {
    5% {
        opacity: 1;
    }

    20% {
        translate: 0;
        letter-spacing: normal;
    }

    30% {
        letter-spacing: -0.4em;
    }

    50% {
        letter-spacing: normal;
    }

    70% {
        letter-spacing: -0.2em;
    }

    100% {
        translate: 0;
        opacity: 1;
        letter-spacing: normal;
    }
}

.home-actions {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 2em;

    .btn {
        min-width: 12em;
        text-align: center;
    }
}


/* Profile Page */
.profile {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
    margin-left: 2vw;
    min-width: 20em;
    max-width: 30em;
    width: fit-content;

    .profile-cont {
        padding: 1em;
        background-color: var(--white-overlay);
        border-radius: 8px;
    }

    dd {
        font-size: 1.3em;
        margin-inline-start: 0.1em;
        transition: margin-inline-start 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
}

.profile-cont:hover dd {
    margin-inline-start: 0.5em;
}


/* Forms */
.auth-form, .post-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-block-end: 2em;
    padding: 1em;
    width: clamp(14em, 30em, 100%);
    border-radius: 10px;
    background-color: var(--white-overlay);
    backdrop-filter: blur(5px);

    .btn {
        margin-top: 0.5em;
    }

    label {
        transform-origin: left;
        transition:
            translate 200ms ease,
            rotate 200ms ease;
    }

    input:focus-within+label, textarea:focus-within+label {
        translate: 0.5em;
        rotate: -2deg;
    }
}

.input-cont {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.1em;
}

.tags-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.tag-input {
    color: var(--bg-color);
    padding: 0.25em 0.5em;
    border-radius: 10px;
    background-color: var(--text-color-secondary);
    cursor: pointer;
    transition:
        background-color 200ms ease,
        color 200ms ease;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked+.tag-input {
    background-color: var(--light-secondary);
    color: var(--text-color);
    rotate: -5deg;
}

.edit-input {
    display: grid;
    gap: 0.5em;
    grid-template-columns: 1fr auto;
}

.edit-btn {
    padding: 0.25em;
    border-radius: 8px;
    transition: background-color 200ms ease;

    &:hover {
        background-color: var(--light-secondary);
    }
}

.input-error {
    background-color: var(--warning-color);
    padding: 0.1em 0.5em;
    margin-top: 2px;
    border-radius: 6px;
}


/* Post Cards */
.post, .post-card {
    position: relative;
    background-color: var(--white-overlay);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
    max-width: 50em;

    .post-name, .post-date {
        font-size: 0.8em;
        color: var(--text-color-secondary);
    }

    .post-meta {
        display: flex;
        flex-direction: column;
    }

    .post-actions {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        gap: 0.5em;
        margin: var(--outer-padding);

        .action {
            padding: 0.25em;
            border-radius: 4px;
            transition: background-color 200ms ease;
        }

        .action:hover {
            background-color: var(--bg-color);
        }

        .action[type="button"]:hover {
            background-color: var(--warning-color);
        }
    }

    .post-main {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        margin-top: 1em;
    }

    .post-title {
        font-size: 1.5em;
        font-weight: bold;
    }

    .post-content {
        padding: 0.25em 0.5em;
        border-radius: 4px;
        background-color: var(--white-overlay);
    }

    .post-tags {
        display: flex;
        gap: 0.5rem;

        span {
            color: var(--bg-color);
            font-size: 0.9em;
            padding: 0.2em 0.5em;
            border-radius: 10px;
            background-color: var(--text-color);
        }
    }

    .post-comments {
        display: flex;
        gap: 0.5em;
    }
}


/* Post Page */
.post-navigation {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1em;
    width: clamp(20em, 100%, 50vw);
}

.post-page-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    column-gap: 1em;

    .post {
        flex-grow: 1;
    }

    .comment-form-container {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 500ms;

        div {
            overflow: hidden;
        }
    }

    .comments-section {
        max-width: 25em;

        h3 {
            margin: 0 0 0 0.25em;
        }

        .comments-head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px;
            border-top: 2px solid var(--white-overlay);
            border-left: 2px solid var(--white-overlay);
            border-right: 2px solid var(--white-overlay);
            padding: 0.25em;
            margin-bottom: 0.5em;
        }

        .comment-action {
            padding: 0.25em;
            border-radius: 4px;
            transition: background-color 200ms ease;
        }

        .comment-action:hover {
            background-color: var(--secondary-color);
        }
    }
}

#delete-confirm-dialog {
    color: inherit;
    background-color: var(--bg-color-overlay);
    backdrop-filter: blur(10px);
    border: 2px solid var(--bg-color);
    border-radius: 10px;
    animation: show-in 300ms ease;

    .dialog-actions {
        display: flex;
        gap: 1em;
        justify-content: end;
        margin-top: 3em;

        .btn {
            background-color: var(--bg-color);
            border: 2px solid var(--warning-color);
        }

        .btn:hover {
            background-color: var(--warning-color);
        }

        .delete-btn {
            background-color: var(--warning-color);
        }

        .delete-btn:hover {
            background-color: var(--error-color);
        }
    }
}

#delete-confirm-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
}


/* Comment Cards */
.comment-card {
    opacity: 0;
    transform: translateY(100%);
    --_delay: 1100ms;

    box-sizing: border-box;
    background-color: rgb(173, 216, 230, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
    max-width: 25em;
    animation: move-in 300ms ease-in var(--_delay) forwards;

    &:nth-child(1) {
        --_delay: 300ms;
    }

    &:nth-child(2) {
        --_delay: 500ms;
    }

    &:nth-child(3) {
        --_delay: 700ms;
    }

    &:nth-child(4) {
        --_delay: 900ms;
    }

    .comment-meta {
        display: flex;
        gap: 1em;
        justify-content: space-between;
        font-size: 0.8em;
    }

    .comment-content {
        color: var(--bg-color);
        padding: 0.25em 0.5em;
        margin-top: 0.5em;
        border-radius: 4px;
        background-color: var(--white-overlay);
    }
}


/* Post Edit */
.edit-meta {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    margin-left: 1.5em;
}


/* Alert */
.alert {
    --_border-color: transparent;
    position: fixed;
    top: 2em;
    left: 50%;
    translate: -50%;
    width: 20ch;
    padding: 1em;
    color: white;
    font-size: 1.1em;
    text-align: center;
    background-color: var(--white-overlay);
    backdrop-filter: blur(5px);
    z-index: 1000;
    border-radius: 10px;
    border: 2px solid var(--_border-color);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.8);
    animation:
        show-in 600ms ease-out,
        move-out 600ms 6s ease-out forwards;
}

.info {
    --_border-color: var(--info-color);
}

.success {
    --_border-color: var(--success-color);
}

.error {
    --_border-color: var(--error-color);
}

.warning {
    --_border-color: var(--warning-color);
}


/* Over-writes */
.warning-btn {
    background-color: var(--warning-color);
}

.highlighted {
    border: 2px solid var(--warning-color);
}

.hidden {
    display: none;
}

#container.open {
    grid-template-rows: 1fr;
}

@media (max-width: 768px) {
    .user-link {
        display: none;
    }
}

@media (max-width: 620px) {
    header h1 {
        display: none;
    }
}


@keyframes show-in {
    0% {
        opacity: 0;
    }
}

@keyframes move-in {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes move-out {
    100% {
        opacity: 0;
        transform: translateY(-150%);
    }

}