@font-face {
    font-family: 'Sora';
    src: url('/public/fonts/Sora/Sora-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    --text-color: #ebebeb;
    --text-color-secondary: #acacac;
    --bg-color: #073f41;
    --secondary-color: #400a08;
    --light-secondary: hsl(2, 78%, 24%);
    --warning-color: #be3652;
    --white-overlay: rgba(255, 255, 255, 0.2);

    --outer-padding: 1em;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Sora', serif;
    margin: 0 auto;
    max-width: 1600px;
    min-height: 100dvh;
}

main {
    margin-inline: var(--outer-padding);
    animation: show-in 400ms ease-out;
}

.logo {
    position: fixed;
    inset: 0;
    z-index: -1;
    background-image: url('/public/images/bladeboard_logo.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    opacity: 0.1;
    filter: drop-shadow(2px 4px 6px black);
    animation: show-in 5000ms ease-out;
}


/* Resets */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

dl, dd, dt {
    margin: 0;
}

input, textarea, select {
    font: inherit;
    resize: none;
    padding: 0.5em 1em;
    border: none;
    border-radius: 8px;
}

input:disabled, textarea:disabled, select:disabled,
input[readonly], textarea[readonly], select[readonly] {
    cursor: auto;
    background-color: var(--text-color-secondary);
    color: var(--bg-color);
}

a {
    color: inherit;
    font: inherit;
    padding: 0;
    text-decoration: none;
    width: fit-content;
}

button {
    color: inherit;
    font: inherit;
    background-color: transparent;
    padding: 0;
    width: fit-content;
    border: none;
    cursor: pointer;
}

button:disabled {
    background-color: var(--text-color-secondary);
    color: var(--bg-color);
    cursor: not-allowed;
}


/* General Elements */
.link {
    color: var(--text-color);
    text-decoration: underline;
    transition: color 300ms ease;

    &:hover {
        color: var(--text-color-secondary);
    }
}

.btn {
    color: var(--text-color);
    box-sizing: border-box;
    background-color: var(--secondary-color);
    padding: 0.5em 1em;
    border-radius: 100px;
    transition: color 300ms ease, background-color 300ms ease;

    &:hover:not(:disabled) {
        color: white;
        background-color: var(--light-secondary);
    }
}


/* Header & Navigation */
header {
    position: sticky;
    top: 0;
    text-align: center;
    background-color: var(--bg-color);
    margin-bottom: var(--outer-padding);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    z-index: 100;
}

nav {
    position: absolute;
    top: 50%;
    left: 0;
    translate: 0 -50%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: var(--outer-padding);

    img {
        border-radius: 100px;
        width: 2.5rem;
        transition: rotate ease-in-out 300ms;
    }

    img:hover {
        rotate: 360deg;
    }
}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-style: oblique;
    padding-inline: 1em;
    margin: 0;
}

.add-link {
    position: absolute;
    top: 50%;
    right: 0;
    translate: 0 -50%;
    padding-right: var(--outer-padding);
}

.home-title {
    width: 12ch;
    margin-inline: auto;
    text-align: left;

    span {
        display: inline-block;
        translate: 200px;
        opacity: 0;
        animation: header 2s 500ms linear forwards;
    }
}


/* Bounce effect */
@keyframes header {
    5% {
        opacity: 1;
    }

    20% {
        translate: 0;
        letter-spacing: normal;
    }

    30% {
        letter-spacing: -0.4em;
    }

    50% {
        letter-spacing: normal;
    }

    70% {
        letter-spacing: -0.2em;
    }

    100% {
        translate: 0;
        opacity: 1;
        letter-spacing: normal;
    }
}


/* Home Page */
.home-actions {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 2em;

    .btn {
        min-width: 12em;
        text-align: center;
    }
}


/* Profile Page */
.profile {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
    margin-left: 2vw;
    width: fit-content;

    .profile-cont {
        padding: 1em;
        background-color: var(--white-overlay);
        border-radius: 8px;
    }

    dd {
        font-size: 1.3em;
        margin-inline-start: 0.1em;
        transition: margin-inline-start 300ms ease-out;
    }
}

.profile-cont:hover dd {
    margin-inline-start: 1.5em;
}


/* Forms */
.auth-form, .post-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-block: 2em;
    min-width: 20em;
    width: fit-content;
    max-width: 24em;

    .btn {
        margin-top: 0.5em;
    }

    label {
        transform-origin: left;
        transition:
            translate 200ms ease,
            rotate 200ms ease;
    }

    input:focus-within+label, textarea:focus-within+label {
        translate: 0.5em;
        rotate: -5deg;
    }
}

.input-cont {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.1em;
}

.tags-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.tag-input {
    color: var(--bg-color);
    padding: 0.25em 0.5em;
    border-radius: 10px;
    background-color: var(--text-color-secondary);
    cursor: pointer;
    transition:
        background-color 200ms ease,
        color 200ms ease;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked+.tag-input {
    background-color: var(--light-secondary);
    color: var(--text-color);
    rotate: -5deg;
}

.edit-input {
    display: grid;
    gap: 0.5em;
    grid-template-columns: 1fr auto;
}

.edit-btn {
    padding: 0.25em;
    border-radius: 8px;
    transition: background-color 200ms ease;
    
    &:hover {
        background-color: var(--light-secondary);
    }
}



/* Post Cards */
.post, .post-card {
    position: relative;
    background-color: var(--white-overlay);
    backdrop-filter: blur(5px);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
    max-width: 50em;

    .post-name, .post-date {
        font-size: 0.8em;
        color: var(--text-color-secondary);
    }

    .post-meta {
        display: flex;
        flex-direction: column;
    }

    .post-actions {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        gap: 0.5em;
        margin: var(--outer-padding);

        .action {
            padding: 0.25em;
            border-radius: 4px;
            transition: background-color 200ms ease;
        }

        .action:hover {
            background-color: var(--bg-color);
        }

        .action[type="submit"]:hover {
            background-color: var(--warning-color);
        }
    }

    .post-main {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        margin-top: 1em;
    }

    .post-title {
        font-size: 1.5em;
        font-weight: bold;
    }

    .post-content {
        padding: 0.25em 0.5em;
        border-radius: 4px;
        background-color: var(--white-overlay);
    }

    .post-tags {
        display: flex;
        gap: 0.5rem;

        span {
            color: var(--bg-color);
            font-size: 0.9em;
            padding: 0.2em 0.5em;
            border-radius: 10px;
            background-color: var(--text-color);
        }
    }

    .post-comments {
        display: flex;
        gap: 0.5em;
    }
}


/* Post Page */
.post-navigation {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1em;
}

.comment {
    box-sizing: border-box;
    background-color: rgb(173, 216, 230, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 1em;
    max-width: 25em;
}


/* Over-writes */
.warning-btn {
    background-color: var(--warning-color);
}

.highlighted {
    border: 2px solid var(--warning-color);
}


@keyframes show-in {
    0% {
        opacity: 0;
    }
}